.logo {
  width: 120px;
}
.link {
  margin-right: 20px;
  line-height: 48px;
}
.contactBtn {
  border: none;
  outline: none !important;
  padding: 10px 25px;
  background: linear-gradient(0deg, #1fdeb0ff, #03a4f4ff);
  border-radius: 26px 0 26px 0;
  transition: 0.3s ease;
}

.contactBtn:hover {
  background: linear-gradient(0deg, #03a4f4ff, #1fdeb0ff);
}
