
.bg-color{
    background-color: #F2F6FD;
}

.card-style{
    margin-top: 20px;
}
.card-style:hover {
    background-color: #FFFFFF;
    
    border: 1px solid#FFFFFF;
    border-radius: 60px 10px 60px 10px;
   
}
.card-style p{
  font-size: 14px;
  line-height: 1.5;
}
.text{
    text-align: justify !important;
}

/* Mobile Layout: 320px. */
@media(min-width: 0px) and (max-width: 479px) {
    .title h1 {
        text-align: center;
        padding-left: 20px;
    }
    .text{
        margin-left: 20px;
        margin-right: 20px;
        text-align: justify;
    }
}


/* Wide Mobile Layout: 480px. */
@media(min-width: 480px) and (max-width: 767px) {
    .title h1 {
        text-align: center;
        padding-left: 40px;
    }
    .text{
        margin-left: 20%;
        margin-right: 50px;
        text-align: justifycenter !important;
    }
}

/* Tablet Layout: 768px. */
@media(min-width: 768px) and (max-width: 1024px) {
    .text2{
        margin-left: 30%;
        margin-right: 30%;
        text-align: justifycenter !important;
    }
}


/* Medium Layout: 1024px. */
@media(min-width: 1024px) and (max-width: 1200px) {

}